# dataset - too large for github (538MB)
data/

# python cache
__pycache__/
*.pyc
*.pyo

# jupyter checkpoints
.ipynb_checkpoints/

# logs
*.log

# hadoop temp files
*.crc
_SUCCESS

# windows
Thumbs.db
desktop.ini
